<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>

<head>
    <title>>Welcome Security with Spring Boot!</title>
</head>
<body>
<h1>this is login page</h1>
<form th:action="@{/logingin}" method="POST">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/>    </div>
</form>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>