<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/header :: header"/>
<head>
    <title>Security with Spring Boot</title>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"/>

<div class="container">
    <p>
        Welcome to CSYE 6225 Spring 2018 Semester!!!
    </p>

</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>