<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/header :: header"/>
<head>
    <title>Welcome  to your public profile</title>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"/>



<h1 style="color:blue" >This is your Public Profile </h1>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<ul>
    <li th:each="account :${username}">Hello <span th:text="${account}"></span> <!--Its <span th:text=" ${#dates.format(post.created ,'yyyy-MM-dd')}"></span>--></li>
</ul>


<form method="POST" action="/upload"  enctype="multipart/form-data">
        <dt>
            <label>Profile picture</label>
        </dt>
    <dd>
        <img height="200" src="https://avatars1.githubusercontent.com/u/35572614?s=400&amp;v=4" width="200"/>
        <div>
            <label >
                Upload new picture
                <input  type="file" class="manual-file-chooser width-full height-full ml-0 js-manual-file-chooser" name = "file"/>
            </label>
        </div>
    </dd>
    <dt>
        <label for="user_profile_bio">Bio</label>
    </dt>

    <dd >
          <textarea data-input-max-length="160"  id="user_profile_bio" name="user[profile_bio]" placeholder="Tell us a little bit about yourself" rows="20">
            </textarea>
    </dd>
       <br/>
    <div><label> Confirm User Name : <input type="text" name="username"/> </label></div>

        <input type="submit" value="Upload" />
    </form>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>