<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>
<head>
    <title>Security with Spring Boot</title>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"/>

<div class="container">
    <p>
        Welcome to reset password in my profile!!!
    </p>
</div>
<hi >Please enter the email address for which the password needs to be updated </hi>
<p>
<form action="/password_reset" method="post">
    Email: <input type="text" name="useremail" maxlength="160"/>
    <input type="submit" value="Reset Password"/>
</form>
</p>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>