<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/header :: header"/>
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/navigation :: navigation"/>

<h1 th:inline="text">Hello !</h1>

<form th:action="@{/logout}" method="get">
    <input type="submit" value="Sign Out"/>
</form>
<a href="/">Go Back to Login Page</a>

<h1>Result</h1>
<p>Date/Time: <span id="datetime"></span></p>

<script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>


<div th:replace="fragments/footer :: footer"/>
</body>
</html>