<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:replace="fragments/header :: header"></div>
<head>
    <title>Swapper</title>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<h1 style="color:blue" >Welcome <span th:text="${empName}"></span></h1>
<p></p>
<h6 style="color:black"> Add Shift</h6>

 <form action="/shifts" method="POST">
    <div><label> Give : <input type="text" name="give"/> </label></div>
    <div><label> Need : <input type="text" name="need"/> </label></div>
        <input style="color: black" type="submit" value="Add Shift"/>
 </form>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>